.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .tile-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 600px;
    margin: 20px 0;
  }
  
  .tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: #f0f0f0;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .tile:hover {
    background-color: #e0e0e0;
  }
  
  .tile-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  